@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', system-ui, sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  html {
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }

  ::selection {
    background-color: #9B87F5;
    color: white;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-accent-purple to-accent-blue bg-clip-text text-transparent;
  }
}
